<a href="https://colab.research.google.com/github/zaidkkhann/project_ybi/blob/main/PracticePrj2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
fish = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Fish.csv')

In [ ]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [ ]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [ ]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [ ]:
y = fish['Weight']

X = fish.drop(['Weight','Species'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2529)
X_train

     Category    Species   Height   Width  Length1  Length2  Length3
23          1      Bream  15.4686  6.1306     31.8     35.0     40.6
127         3      Perch  12.4888  7.5958     41.1     44.0     46.6
21          1      Bream  15.9936  5.3704     31.4     34.0     39.2
113         3      Perch  10.6091  6.7408     34.0     36.0     38.3
109         3      Perch  10.0300  6.0180     30.5     32.8     34.0
..        ...        ...      ...     ...      ...      ...      ...
72          3      Perch   2.1120  1.4080      7.5      8.4      8.8
143         4       Pike   9.6000  6.1440     56.0     60.0     64.0
60          7  Whitefish  12.3540  6.5250     37.3     40.0     43.5
50          5      Roach   7.3968  4.1272     22.1     23.5     26.8
96          3      Perch   7.2930  3.7230     22.0     24.0     25.5

[119 rows x 7 columns]

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
model = RandomForestRegressor()

In [ ]:
model.fit(X_train,y_train)

ValueError: ignored